.info {
    display: flex;
    float: right;
}

.info span {
    padding-right: 1em;
}

.title {
    display: inline;
}

.crew {
    display: flex;
    flex-direction: column;

}


.crew span {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.dzsYfH {
    color: rgb(245, 197, 24);
}

.genre {
    border: 1px solid grey;
    border-radius: 40%;
    margin-right: .5rem;
    align-self: center;
}
